.containermio{
    width: 90%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.box1{
    width: 500px;
    height: 600px;
    background-color: aqua;
    margin: 10px;
    padding: 10 px;
    float: left;
}
.box2{
    width: 500px;
    height: 600px;
    background-color: aqua;
    margin: 10px;
    padding: 10 px;
    float: left;
    margin-top: -550px;
}

.box3{
    width: 500px;
    height: 1200px;
    background-color: blue;
    margin: 10px;
    padding: 10 px;
    float: left;
}